{
  "openapi": "3.0.1",
  "info": {
    "title": "PostNL API",
    "description": "PostNL API description for send, track, checkout and delivery options",
    "version": "V2"
  },
  "servers": [
    {
      "url": "https://api-sandbox.postnl.nl",
      "description": "Non-Production server"
    },
    {
      "url": "https://api.postnl.nl",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "APIKeyHeader": []
    }
  ],
  "paths": {
    "/shipment/v2/status/barcode/{barcode}": {
      "get": {
        "tags": [
          "ShippingStatus"
        ],
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "summary": "Returns the statuses for a particular barcode",
        "description": "Request example:\n```\ncurl -X GET \"https://api-sandbox.postnl.nl/shipment/v2/status/barcode/3SDEVC172649258\" \\\n -H \"Accept: application/json\" \\\n -H \"apikey: APIKEY-HERE\" \\\n```\n",
        "operationId": "GetStatusByBarcode",
        "parameters": [
          {
            "name": "barcode",
            "in": "path",
            "description": "Barcode of the shipment. This is a unique value.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "3SDEVC172649258"
            }
          },
          {
            "name": "detail",
            "in": "query",
            "description": "Option to include old statuses in the response",
            "schema": {
              "type": "boolean",
              "example": false,
              "default": false
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language of the returned shipment and status descriptions (default is Dutch).",
            "schema": {
              "type": "string",
              "example": "NL",
              "enum": [
                "NL",
                "EN",
                "CN",
                "DE",
                "FR"
              ]
            }
          },
          {
            "name": "maxDays",
            "in": "query",
            "description": "Limit the number of days that will be searched (decrease this amount for better performance).",
            "schema": {
              "type": "string",
              "example": "14"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/shippingstatusResponse"
                },
                "examples": {
                  "Current status single shipment": {
                    "$ref": "#/components/examples/shippingstatusExampleResponseSingleShipmentCurrent"
                  },
                  "Complete status single shipment": {
                    "$ref": "#/components/examples/shippingstatusExampleResponseSingleShipmentComplete"
                  },
                  "Multicollo shipment": {
                    "$ref": "#/components/examples/shippingstatusExampleResponseMulticollo"
                  },
                  "No shipment found": {
                    "$ref": "#/components/examples/shippingstatusExampleResponseNoShipment"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/shippingstatusValidationFault"
                },
                "example": {
                  "fault": {
                    "faultstring": "no barcode supplied in path",
                    "detail": {
                      "errorcode": "Validation Fault"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid apikey",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                },
                "example": {
                  "message": "Failed to resolve API Key variable 'request.header.apikey'",
                  "http_status_code": 401
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowedOnlyGet"
                },
                "example": {
                  "message": "Only GET requests allowed",
                  "http_status_code": 405
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                },
                "example": {
                  "message": "Too many requests. Rate limit exceeded!",
                  "http_status_code": 429
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/shippingstatusValidationFault"
                },
                "example": {
                  "fault": {
                    "faultstring": "no barcode supplied in path",
                    "detail": {
                      "errorcode": "Validation Fault"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/shipment/v2/status/reference/{referenceId}": {
      "get": {
        "summary": "Get status information by customer reference",
        "description": "Request example:\n```\ncurl -X GET \"https://api-sandbox.postnl.nl/shipment/v2/status/reference?detail=true&language=NL&customerCode={{CustomerCode}}&customerNumber={{CustomerNumber}}&reference=REF98173245876329\" \\\n -H \"Accept: application/json\" \\\n -H \"apikey: APIKEY-HERE\" \n```\n",
        "operationId": "GetStatusByReference",
        "tags": [
          "ShippingStatus"
        ],
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "customerCode",
            "in": "query",
            "description": "Customer code as known at PostNL Pakketten",
            "required": true,
            "schema": {
              "type": "string",
              "example": "DEVC"
            }
          },
          {
            "name": "customerNumber",
            "in": "query",
            "description": "Customer number as known at PostNL Pakketten",
            "required": true,
            "schema": {
              "type": "string",
              "example": "11223344"
            }
          },
          {
            "name": "referenceId",
            "in": "path",
            "description": "The customer reference belonging to the shipment",
            "required": true,
            "schema": {
              "type": "string",
              "example": "REF-12345"
            }
          },
          {
            "name": "detail",
            "in": "query",
            "description": "Option to include old statuses in the response",
            "schema": {
              "type": "boolean",
              "example": false,
              "default": false
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language of the returned shipment and status descriptions (default is Dutch).",
            "schema": {
              "type": "string",
              "example": "NL",
              "enum": [
                "NL",
                "EN",
                "CN",
                "DE",
                "FR"
              ]
            }
          },
          {
            "name": "maxDays",
            "in": "query",
            "description": "Limit the number of days that will be searched (decrease this amount for better performance). By default this is 90 days in the past.",
            "schema": {
              "type": "string",
              "example": "14"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/shippingstatusResponse"
                },
                "examples": {
                  "Current status single shipment": {
                    "$ref": "#/components/examples/shippingstatusExampleResponseSingleShipmentCurrent"
                  },
                  "Complete status single shipment": {
                    "$ref": "#/components/examples/shippingstatusExampleResponseSingleShipmentComplete"
                  },
                  "Multicollo shipment": {
                    "$ref": "#/components/examples/shippingstatusExampleResponseMulticollo"
                  },
                  "No shipment found": {
                    "$ref": "#/components/examples/shippingstatusExampleResponseNoShipment"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/shippingstatusValidationFault"
                },
                "example": {
                  "fault": {
                    "faultstring": "no barcode supplied in path",
                    "detail": {
                      "errorcode": "Validation Fault"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid apikey",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                },
                "example": {
                  "message": "Failed to resolve API Key variable 'request.header.apikey'",
                  "http_status_code": 401
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowedOnlyGet"
                },
                "example": {
                  "message": "Only GET requests allowed",
                  "http_status_code": 405
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                },
                "example": {
                  "message": "Too many requests. Rate limit exceeded!",
                  "http_status_code": 429
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/shippingstatusValidationFault"
                },
                "example": {
                  "fault": {
                    "faultstring": "no barcode supplied in path",
                    "detail": {
                      "errorcode": "Validation Fault"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/shipment/v2/status/signature/{barcode}": {
      "get": {
        "tags": [
          "ShippingStatus"
        ],
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "summary": "Returns the signature of a particular shipment",
        "description": "Request example:\n```\ncurl -X GET \"https://api-sandbox.postnl.nl/shipment/v2/status/signature/3SDEVC172649258\" \\\n -H \"Accept: application/json\" \\\n -H \"apikey: APIKEY-HERE\" \n```\n",
        "operationId": "GetShipmentSignature",
        "parameters": [
          {
            "name": "barcode",
            "in": "path",
            "description": "Barcode of the shipment",
            "required": true,
            "schema": {
              "type": "string",
              "example": "3SDEVC172649258"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A signature",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/shippingstatusResponseSignature"
                },
                "examples": {
                  "Signature found": {
                    "$ref": "#/components/examples/shippingstatusExampleResponseSignature"
                  },
                  "Signature not found": {
                    "$ref": "#/components/examples/shippingstatusExampleResponseNoSignature"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/shippingstatusValidationFault"
                },
                "example": {
                  "fault": {
                    "faultstring": "no barcode supplied in path",
                    "detail": {
                      "errorcode": "Validation Fault"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid apikey",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                },
                "example": {
                  "message": "Failed to resolve API Key variable 'request.header.apikey'",
                  "http_status_code": 401
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowedOnlyGet"
                },
                "example": {
                  "message": "Only GET requests allowed",
                  "http_status_code": 405
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                },
                "example": {
                  "message": "Too many requests. Rate limit exceeded!",
                  "http_status_code": 429
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/shippingstatusValidationFault"
                },
                "example": {
                  "fault": {
                    "faultstring": "no barcode supplied in path",
                    "detail": {
                      "errorcode": "Validation Fault"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/shipment/v2/status/{customernumber}/updatedshipments": {
      "get": {
        "summary": "Returns the updated statuses for a particular customer number",
        "description": "Request example:\n```\ncurl -X GET \"https://api-sandbox.postnl.nl/shipment/v2/status/11223344/updatedshipments?period=2022-12-25T10:00:00&amp;period=2022-12-25T10:12:00\" \\\n -H \"Accept: application/json\" \\\n -H \"apikey: APIKEY-HERE\" \\\n```\n",
        "operationId": "GetUpdatedStatusByCustomerNumber",
        "tags": [
          "ShippingStatus"
        ],
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "customernumber",
            "in": "path",
            "description": "Your customer number",
            "required": true,
            "schema": {
              "type": "string",
              "example": "11223344"
            }
          },
          {
            "name": "period[0]",
            "in": "query",
            "description": "Optional array which defines a specific period in which to return updated shipments. For optimal results, schedule calls at a frequency between 5-15 minutes and align the requested period accordingly to ensure complete coverage of past updates. Shorter periods yield improved response times. The API accommodates a maximum requested period of 2 hours, granting access to shipment data up to 48 hours in the past. Please use the following format: YYYY-MM-DDTHH:MM:SS and repeat this variable to define the period (e.g. /updatedshipments?period=2022-11-07T12:00:00.000&period=2022-11-07T12:05:00.000).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "2022-11-07T12:00:00"
            }
          },
          {
            "name": "period[1]",
            "in": "query",
            "description": "Optional array which defines a specific period in which to return updated shipments. For optimal results, schedule calls at a frequency between 5-15 minutes and align the requested period accordingly to ensure complete coverage of past updates. Shorter periods yield improved response times. The API accommodates a maximum requested period of 2 hours, granting access to shipment data up to 48 hours in the past. Please use the following format: YYYY-MM-DDTHH:MM:SS and repeat this variable to define the period (e.g. /updatedshipments?period=2022-11-07T12:00:00.000&period=2022-11-07T12:05:00.000).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "2022-11-07T12:05:00"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated statuses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/shippingstatusResponseUpdatedShipments"
                },
                "examples": {
                  "Updates found": {
                    "$ref": "#/components/examples/shippingstatusExampleResponseUpdatedShipments"
                  },
                  "No updates found": {
                    "$ref": "#/components/examples/shippingstatusExampleResponseUpdatedShipmentsNoUpdates"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/shippingstatusValidationFault"
                },
                "example": {
                  "fault": {
                    "faultstring": "no barcode supplied in path",
                    "detail": {
                      "errorcode": "Validation Fault"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid apikey",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                },
                "example": {
                  "message": "Failed to resolve API Key variable 'request.header.apikey'",
                  "http_status_code": 401
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowedOnlyGet"
                },
                "example": {
                  "message": "Only GET requests allowed",
                  "http_status_code": 405
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                },
                "example": {
                  "message": "Too many requests. Rate limit exceeded!",
                  "http_status_code": 429
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/shippingstatusValidationFault"
                },
                "example": {
                  "fault": {
                    "faultstring": "no barcode supplied in path",
                    "detail": {
                      "errorcode": "Validation Fault"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/shipment/v2/confirm": {
      "post": {
        "tags": [
          "Confirming"
        ],
        "summary": "Confirm a shipment to PostNL",
        "operationId": "ConfirmShipment",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/confirmingRequest"
              },
              "examples": {
                "Standard product request": {
                  "$ref": "#/components/examples/confirmingExampleRequestDefault"
                },
                "Evening delivery request": {
                  "$ref": "#/components/examples/confirmingExampleRequestEvening"
                },
                "International (non-EU) shipment request": {
                  "$ref": "#/components/examples/confirmingExampleRequestCustoms"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A confirmation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/confirmingResponse"
                },
                "example": {
                  "ResponseShipments": [
                    {
                      "Errors": [],
                      "Warnings": [
                        {
                          "Code": "1280103",
                          "Description": "Address is unknown"
                        }
                      ],
                      "Barcode": "3SDEVC281677095"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Error payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/confirmingResponse"
                },
                "example": {
                  "ResponseShipments": [
                    {
                      "Errors": [
                        {
                          "Code": "10302",
                          "Description": "Length of 3S type barcode must be between 13 and 15"
                        }
                      ],
                      "Warnings": [],
                      "Barcode": "3SDEVC281677095"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Invalid apikey",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                },
                "example": {
                  "message": "Failed to resolve API Key variable 'request.header.apikey'",
                  "http_status_code": 401
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowedOnlyGetPost"
                },
                "example": {
                  "message": "Only GET & POST requests allowed",
                  "http_status_code": 405
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                },
                "example": {
                  "message": "Too many requests. Rate limit exceeded!",
                  "http_status_code": 429
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                },
                "example": {
                  "fault": {
                    "faultstring": "Unexpected token in object literal",
                    "detail": {
                      "errorcode": "Validation Fault"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/shipment/v2_2/label": {
      "post": {
        "tags": [
          "Labelling",
          "Shipment"
        ],
        "summary": "Generate a label and confirmation",
        "operationId": "GenerateLabel",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "confirm",
            "in": "query",
            "description": "With the Confirm boolean in the request, you can determine if you want to confirm the shipment in the same call or not. If the Boolean variable is true the shipment will be preannounced. If this is set to false, then an additional Confirming API request needs to be made.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/labellingRequest"
              },
              "examples": {
                "Standard product request": {
                  "$ref": "#/components/examples/labellingExampleRequestDefault"
                },
                "Evening delivery request": {
                  "$ref": "#/components/examples/labellingExampleRequestEvening"
                },
                "International (non-EU) shipment request": {
                  "$ref": "#/components/examples/labellingExampleRequestCustoms"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A Label",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/labellingResponse"
                },
                "examples": {
                  "Standard response": {
                    "$ref": "#/components/examples/labellingExampleResponseStandard"
                  },
                  "Multi-label response": {
                    "$ref": "#/components/examples/labellingExampleResponseMultilabel"
                  },
                  "Merged response": {
                    "$ref": "#/components/examples/labellingExampleResponseMerged"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/labellingResponseInvalid"
                },
                "example": {
                  "Errors": [
                    {
                      "Error": "Validation failed for shipment: 3SDEVC949511897",
                      "Code": "1280202",
                      "Description": "Incorrect address specified in address type Sender"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Invalid apikey",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                },
                "example": {
                  "message": "Failed to resolve API Key variable 'request.header.apikey'",
                  "http_status_code": 401
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowedOnlyPost"
                },
                "example": {
                  "message": "Only POST requests allowed",
                  "http_status_code": 405
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                },
                "example": {
                  "message": "Too many requests. Rate limit exceeded!",
                  "http_status_code": 429
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                },
                "example": {
                  "fault": {
                    "faultstring": "Unexpected token in object literal",
                    "detail": {
                      "errorcode": "Validation Fault"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/shipment/v1_1/barcode": {
      "get": {
        "tags": [
          "Barcode"
        ],
        "summary": "Generate a unique barcode",
        "operationId": "GenerateBarcode",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "description": "Request example:\n```\ncurl -X GET \"https://api-sandbox.postnl.nl/shipment/v1_1/barcode?CustomerCode=DEVC&amp;CustomerNumber=11223344&amp;Type=3S&amp;Serie=000000000-999999999&amp\" \\\n -H \"Accept: application/json\" \\\n -H \"apikey: APIKEY-HERE\" \n```\n",
        "parameters": [
          {
            "name": "CustomerCode",
            "in": "query",
            "description": "The customer code for which you want a barcode to be generated",
            "required": true,
            "schema": {
              "type": "string",
              "example": "DEVC"
            }
          },
          {
            "name": "CustomerNumber",
            "in": "query",
            "description": "The customer code for which you want a barcode to be generated",
            "required": true,
            "schema": {
              "type": "string",
              "example": "11223344"
            }
          },
          {
            "name": "Type",
            "in": "query",
            "description": "The barcode type that you want to be generated",
            "required": true,
            "schema": {
              "type": "string",
              "example": "3S",
              "enum": [
                "2S",
                "3S",
                "CC",
                "CP",
                "CD",
                "CF",
                "LA",
                "RI",
                "UE"
              ]
            }
          },
          {
            "name": "Serie",
            "in": "query",
            "description": "Barcode serie in the format '###000000-###000000', for example 100000-20000. The range must consist of a minimal difference of 100.000. It is allowed to add extra leading zeros at the beginning of the serie. See [Guidelines](https://developer.postnl.nl/docs/#/http/api-endpoints/send-track/barcode/guidelines) for more information.",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 6,
              "maxLength": 9,
              "example": "100000000"
            }
          },
          {
            "name": "Range",
            "in": "query",
            "description": "Only used for International Mail and Packet products (PEPS) shipments (with type LA, RI, UE). Identifying the issuing postal administration's country (NL in this case).",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A barcode",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/barcodeResponse"
                },
                "example": {
                  "Barcode": "3SDEVC903942795"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/barcodeResponseInvalid"
                },
                "example": {
                  "errors": [
                    {
                      "ErrorMsg": "Too many numbers in series",
                      "ErrorNumber": "8"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Invalid apikey",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                },
                "example": {
                  "message": "Failed to resolve API Key variable 'request.header.apikey'",
                  "http_status_code": 401
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowedOnlyGetPost"
                },
                "example": {
                  "message": "Only GET & POST requests allowed",
                  "http_status_code": 405
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                },
                "example": {
                  "message": "Too many requests. Rate limit exceeded!",
                  "http_status_code": 429
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                },
                "example": {
                  "fault": {
                    "faultstring": "Unexpected token in object literal",
                    "detail": {
                      "errorcode": "Validation Fault"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/shipment/v1/checkout": {
      "post": {
        "tags": [
          "Checkout"
        ],
        "summary": "Checkout",
        "operationId": "Checkout",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/checkoutRequest"
              },
              "examples": {
                "Delivery and pickup options": {
                  "$ref": "#/components/examples/checkoutExampleFull"
                },
                "Delivery options only": {
                  "$ref": "#/components/examples/checkoutExampleDelivery"
                },
                "Pickup options only": {
                  "$ref": "#/components/examples/checkoutExamplePickup"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Status object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/checkoutResponse"
                },
                "example": {
                  "DeliveryOptions": [
                    {
                      "DeliveryDate": "09-07-2019",
                      "Timeframe": [
                        {
                          "From": "18:00:00",
                          "To": "22:30:00",
                          "Options": [
                            "Daytime"
                          ],
                          "ShippingDate": "08-07-2019",
                          "Sustainability": {
                            "Code": "02",
                            "Description": "Sustainable option"
                          }
                        }
                      ]
                    }
                  ],
                  "PickupOptions": [
                    {
                      "PickupDate": "09-07-2019",
                      "ShippingDate": "08-07-2019",
                      "Option": "Pickup",
                      "Locations": [
                        {
                          "Address": {
                            "Street": "Siriusdreef",
                            "Zipcode": "2132WT",
                            "HouseNr": 42,
                            "HouseNrExt": "-60",
                            "Countrycode": "NL",
                            "CompanyName": "Pickup company BV"
                          },
                          "PickupTime": "15:00",
                          "OpeningHours": {
                            "Monday": {
                              "From": "08:30:00",
                              "To": "22:30:00"
                            },
                            "Tuesday": {
                              "From": "08:30:00",
                              "To": "22:30:00"
                            },
                            "Wednesday": {
                              "From": "08:30:00",
                              "To": "22:30:00"
                            },
                            "Thursday": {
                              "From": "08:30:00",
                              "To": "22:30:00"
                            },
                            "Friday": {
                              "From": "08:30:00",
                              "To": "22:30:00"
                            },
                            "Saturday": {
                              "From": "08:30:00",
                              "To": "22:30:00"
                            },
                            "Sunday": {
                              "From": "08:30:00",
                              "To": "22:30:00"
                            }
                          },
                          "Distance": 234,
                          "LocationCode": "8101163043",
                          "PartnerID": "PNPNL-01",
                          "Sustainability": {
                            "Code": "02",
                            "Description": "Sustainable option"
                          }
                        }
                      ]
                    }
                  ],
                  "Warnings": [
                    {
                      "DeliveryDate": "07-07-2019",
                      "Code": "5034",
                      "Description": "No delivery option found on date",
                      "Options": "Daytime"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidRequest"
                },
                "example": {
                  "Date": "2024-06-11T12:38:45.413Z",
                  "Error": {
                    "ErrorCode": "3000",
                    "ErrorDescription": "Request format is invalid"
                  },
                  "RequestId": "09fd61fe-0099-4349-b71d-dce5c2472be9"
                }
              }
            }
          },
          "401": {
            "description": "Invalid apikey",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                },
                "example": {
                  "message": "Failed to resolve API Key variable 'request.header.apikey'",
                  "http_status_code": 401
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowedOnlyPost"
                },
                "example": {
                  "message": "Only POST requests allowed",
                  "http_status_code": 405
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                },
                "example": {
                  "message": "Too many requests. Rate limit exceeded!",
                  "http_status_code": 429
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                },
                "example": {
                  "fault": {
                    "faultstring": "Unexpected token in object literal",
                    "detail": {
                      "errorcode": "Validation Fault"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/shipment/v2_2/calculate/date/delivery": {
      "get": {
        "tags": [
          "Deliverydate"
        ],
        "summary": "Calculate expected delivery date",
        "description": "Request example:\n```\ncurl -X GET \"https://api-sandbox.postnl.nl/shipment/v2_2/calculate/date/delivery?ShippingDate=29-05-2022+14%3A00%3A00&amp;ShippingDuration=1&amp;CutOffTime=17%3A00%3A00&amp;PostalCode=2132WT&amp;CountryCode=NL&amp;City=Hoofddorp&amp;Street=Siriusdreef&amp;HouseNumber=42&amp;HouseNrExt=A\" \\\n -H \"Accept: application/json\" \\\n -H \"apikey: APIKEY-HERE\" \n```\n",
        "operationId": "CalculateDeliveryDate",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "ShippingDate",
            "in": "query",
            "description": "Date/time of preparing the shipment for sending. Format: dd-MM-yyyy hh:mm:ss",
            "required": true,
            "schema": {
              "pattern": "^[0-3]\\d-[0-1]\\d-[1-2]\\d{3}\\s[0-2]\\d:[0-5]\\d:[0-5]\\d$",
              "type": "string",
              "example": "29-05-2022 14:00:00"
            }
          },
          {
            "name": "ShippingDuration",
            "in": "query",
            "description": "The duration it takes for the shipment to be delivered to PostNL in days. A value of 1 means that the parcel will be delivered to PostNL on the same day as the date specified in ShippingDate. A value of 2 means the parcel will arrive at PostNL a day later etc.",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 1
            }
          },
          {
            "name": "CutOffTime",
            "in": "query",
            "description": "Default cutoff time",
            "required": true,
            "schema": {
              "pattern": "^[0-2]\\d:[0-5]\\d:[0-5]\\d$",
              "type": "string",
              "example": "17:00:00"
            }
          },
          {
            "name": "PostalCode",
            "in": "query",
            "description": "Zipcode of the destination address",
            "required": true,
            "schema": {
              "pattern": "^[0-9]{4}([A-Z]{2})?$",
              "type": "string",
              "example": "2132WT"
            }
          },
          {
            "name": "CountryCode",
            "in": "query",
            "required": true,
            "description": "The ISO2 destination country code",
            "schema": {
              "type": "string",
              "example": "NL",
              "enum": [
                "NL",
                "BE"
              ]
            }
          },
          {
            "name": "OriginCountryCode",
            "in": "query",
            "description": "The ISO2 origin country code",
            "schema": {
              "type": "string",
              "default": "NL",
              "enum": [
                "NL",
                "BE"
              ]
            }
          },
          {
            "name": "City",
            "in": "query",
            "description": "City of the destination address",
            "schema": {
              "type": "string",
              "example": "Hoofddorp"
            }
          },
          {
            "name": "Street",
            "in": "query",
            "description": "The street name of the destination address.",
            "schema": {
              "type": "string",
              "example": "Siriusdreef"
            }
          },
          {
            "name": "HouseNumber",
            "in": "query",
            "description": "The house number of the destination address",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 42
            }
          },
          {
            "name": "HouseNrExt",
            "in": "query",
            "description": "House number extension of the delivery address",
            "schema": {
              "type": "string",
              "example": "A"
            }
          },
          {
            "name": "Options",
            "in": "query",
            "required": true,
            "description": "The delivery options that you want to take into account when calculating the expected delivery date",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/deliverydateOption"
              }
            }
          },
          {
            "name": "CutOffTimeMonday",
            "in": "query",
            "description": "Overrides default cutoff time specified in the CutOffTime parameter for mondays specifically",
            "schema": {
              "pattern": "^[0-2]\\d:[0-5]\\d:[0-5]\\d$",
              "type": "string"
            }
          },
          {
            "name": "AvailableMonday",
            "in": "query",
            "description": "Specifies if you are available to ship to PostNL on mondays",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "CutOffTimeTuesday",
            "in": "query",
            "description": "Overrides default cutoff time specified in the CutOffTime parameter for tuesdays specifically",
            "schema": {
              "pattern": "^[0-2]\\d:[0-5]\\d:[0-5]\\d$",
              "type": "string"
            }
          },
          {
            "name": "AvailableTuesday",
            "in": "query",
            "description": "Specifies if you are available to ship to PostNL on tuesdays",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "CutOffTimeWednesday",
            "in": "query",
            "description": "Overrides default cutoff time specified in the CutOffTime parameter for wednesdays specifically",
            "schema": {
              "pattern": "^[0-2]\\d:[0-5]\\d:[0-5]\\d$",
              "type": "string"
            }
          },
          {
            "name": "AvailableWednesday",
            "in": "query",
            "description": "Specifies if you are available to ship to PostNL on wednesdays",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "CutOffTimeThursday",
            "in": "query",
            "description": "Overrides default cutoff time specified in the CutOffTime parameter for thursdays specifically",
            "schema": {
              "pattern": "^[0-2]\\d:[0-5]\\d:[0-5]\\d$",
              "type": "string"
            }
          },
          {
            "name": "AvailableThursday",
            "in": "query",
            "description": "Specifies if you are available to ship to PostNL on thursdays",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "CutOffTimeFriday",
            "in": "query",
            "description": "Overrides default cutoff time specified in the CutOffTime parameter for fridays specifically",
            "schema": {
              "pattern": "^[0-2]\\d:[0-5]\\d:[0-5]\\d$",
              "type": "string"
            }
          },
          {
            "name": "AvailableFriday",
            "in": "query",
            "description": "Specifies if you are available to ship to PostNL on fridays",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "CutOffTimeSaturday",
            "in": "query",
            "description": "Overrides default cutoff time specified in the CutOffTime parameter for saturdays specifically",
            "schema": {
              "pattern": "^[0-2]\\d:[0-5]\\d:[0-5]\\d$",
              "type": "string"
            }
          },
          {
            "name": "AvailableSaturday",
            "in": "query",
            "description": "Specifies if you are available to ship to PostNL on saturdays",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "CutOffTimeSunday",
            "in": "query",
            "description": "Overrides default cutoff time specified in the CutOffTime parameter for sundays specifically",
            "schema": {
              "pattern": "^[0-2]\\d:[0-5]\\d:[0-5]\\d$",
              "type": "string"
            }
          },
          {
            "name": "AvailableSunday",
            "in": "query",
            "description": "Specifies if you are available to ship to PostNL on sundays",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Expected earliest delivery date",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/deliverydateDeliveryResponse"
                },
                "example": {
                  "DeliveryDate": "30-05-2022",
                  "Options": {
                    "string": "Daytime"
                  },
                  "Sustainability": {
                    "Code": "02",
                    "Description": "Sustainable option"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/deliverydateInvalidResponse"
                },
                "example": {
                  "Date": "2024-06-17T10:00:50.371Z",
                  "Error": {
                    "ErrorCode": "3000",
                    "ErrorDescription": "Request format is invalid"
                  },
                  "RequestId": "09fd61fe-0099-4349-b71d-dce5c2472be9"
                }
              }
            }
          },
          "401": {
            "description": "Invalid apikey",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                },
                "example": {
                  "message": "Failed to resolve API Key variable 'request.header.apikey'",
                  "http_status_code": 401
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowedOnlyGetPost"
                },
                "example": {
                  "message": "Only GET & POST requests allowed",
                  "http_status_code": 405
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                },
                "example": {
                  "message": "Too many requests. Rate limit exceeded!",
                  "http_status_code": 429
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                },
                "example": {
                  "fault": {
                    "faultstring": "Unexpected token in object literal",
                    "detail": {
                      "errorcode": "Validation Fault"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/shipment/v2_2/calculate/date/shipping": {
      "get": {
        "tags": [
          "Deliverydate"
        ],
        "summary": "Calculate required shipping date",
        "description": "Request example:\n```\ncurl -X GET \"https://api-sandbox.postnl.nl/shipment/v2_2/calculate/date/shipping?DeliveryDate=30-05-2022&amp;ShippingDuration=1&amp;PostalCode=2132WT&amp;CountryCode=NL&amp;City=Hoofddorp&amp;Street=Siriusdreef&amp;HouseNumber=42&amp;HouseNrExt=A\" \\\n -H \"Accept: application/json\" \\\n -H \"apikey: APIKEY-HERE\" \\\n\n```\n",
        "operationId": "CalculateShippingDate",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "DeliveryDate",
            "in": "query",
            "description": "Date of the expected delivery (to the final destination) of the shipment.",
            "required": true,
            "schema": {
              "pattern": "^[0-3]\\d-[0-1]\\d-[1-2]\\d{3}$",
              "type": "string",
              "example": "30-05-2022"
            }
          },
          {
            "name": "ShippingDuration",
            "in": "query",
            "description": "The duration it takes for the shipment to be delivered to PostNL in days. A value of 1 means that the parcel will be delivered to PostNL on the same day as the date specified in ShippingDate. A value of 2 means the parcel will arrive at PostNL a day later etc.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 1
            }
          },
          {
            "name": "PostalCode",
            "in": "query",
            "description": "Zipcode of the address",
            "required": true,
            "schema": {
              "pattern": "^[0-9]{4}([A-Z]{2})?$",
              "type": "string",
              "example": "2132WT"
            }
          },
          {
            "name": "CountryCode",
            "in": "query",
            "description": "The ISO2 destination country code",
            "required": true,
            "schema": {
              "type": "string",
              "default": "NL",
              "enum": [
                "NL",
                "BE"
              ]
            }
          },
          {
            "name": "OriginCountryCode",
            "in": "query",
            "description": "The ISO2 country code of the origin country",
            "schema": {
              "type": "string",
              "default": "NL",
              "enum": [
                "NL",
                "BE"
              ]
            }
          },
          {
            "name": "City",
            "in": "query",
            "description": "City of the destination address",
            "schema": {
              "type": "string",
              "example": "Hoofddorp"
            }
          },
          {
            "name": "Street",
            "in": "query",
            "description": "The street name of the destination address",
            "schema": {
              "type": "string",
              "example": "Siriusdreef"
            }
          },
          {
            "name": "HouseNumber",
            "in": "query",
            "description": "The house number of the destination address",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 42
            }
          },
          {
            "name": "HouseNrExt",
            "in": "query",
            "description": "House number extension of the destination address",
            "schema": {
              "type": "string",
              "example": "A"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The calculated date that the parcel needs to be shipped to PostNL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/deliverydateShippingResponse"
                },
                "example": {
                  "SentDate": "29-06-2022"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/deliverydateInvalidResponse"
                },
                "example": {
                  "Date": "2024-06-17T10:00:50.371Z",
                  "Error": {
                    "ErrorCode": "3000",
                    "ErrorDescription": "Request format is invalid"
                  },
                  "RequestId": "09fd61fe-0099-4349-b71d-dce5c2472be9"
                }
              }
            }
          },
          "401": {
            "description": "Invalid apikey",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                },
                "example": {
                  "message": "Failed to resolve API Key variable 'request.header.apikey'",
                  "http_status_code": 401
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowedOnlyGetPost"
                },
                "example": {
                  "message": "Only GET & POST requests allowed",
                  "http_status_code": 405
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                },
                "example": {
                  "message": "Too many requests. Rate limit exceeded!",
                  "http_status_code": 429
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                },
                "example": {
                  "fault": {
                    "faultstring": "Unexpected token in object literal",
                    "detail": {
                      "errorcode": "Validation Fault"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/shipment/v2_1/locations/nearest": {
      "get": {
        "tags": [
          "Locations"
        ],
        "summary": "Returns pickup locations nearest to the provided address.",
        "description": "Request example:\n```\ncurl -X GET \"https://api-sandbox.postnl.nl/shipment/v2_1/locations/nearest?CountryCode=NL&PostalCode=2132WT&City=Hoofddorp&Street=Siriusdreef&HouseNumber=42&HouseNumberExtension=-60&DeliveryDate=24-12-2022&OpeningTime=09%3A00%3A00\" \\\n -H \"Accept: application/json\" \\\n -H \"apikey: APIKEY-HERE\" \\\n```\n",
        "operationId": "GetPickupLocationsByAddress",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "CountryCode",
            "in": "query",
            "required": true,
            "description": "The country of the recipient's address",
            "schema": {
              "type": "string",
              "example": "NL",
              "enum": [
                "NL",
                "BE"
              ]
            }
          },
          {
            "name": "PostalCode",
            "in": "query",
            "description": "The zipcode of the recipient's address",
            "required": true,
            "schema": {
              "pattern": "^[0-9]{4}([A-Z]{2})?$",
              "type": "string",
              "example": "2132WT"
            }
          },
          {
            "name": "City",
            "in": "query",
            "description": "The city of the recipient's address",
            "schema": {
              "type": "string",
              "example": "Hoofddorp"
            }
          },
          {
            "name": "Street",
            "in": "query",
            "description": "The street name of the recipient's address",
            "schema": {
              "type": "string",
              "example": "Siriusdreef"
            }
          },
          {
            "name": "HouseNumber",
            "in": "query",
            "description": "The house number of the recipient's address",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 42
            }
          },
          {
            "name": "HouseNumberExtension",
            "in": "query",
            "description": "The house number extension of the recipient's address",
            "schema": {
              "type": "string",
              "example": "-60"
            }
          },
          {
            "name": "DeliveryDate",
            "in": "query",
            "description": "The date of the earliest delivery date at the pickup location. Format:  dd-MM-yyyy. Note: this date cannot be in the past, otherwise an error is returned. If not provided, the present day is used as a default",
            "schema": {
              "pattern": "^[0-3]\\d-[0-1]\\d-[1-2]\\d{3}$",
              "type": "string",
              "example": "24-12-2022"
            }
          },
          {
            "name": "OpeningTime",
            "in": "query",
            "description": "Opening time filter. Format: hh:mm:ss. This field will be used to filter out locations that are closed at the time provided. If no opening time is provided all locations will be returned regardless of their opening times.",
            "schema": {
              "pattern": "^[0-2]\\d:[0-5]\\d:[0-5]\\d$",
              "type": "string",
              "example": "09:00:00"
            }
          },
          {
            "name": "DeliveryOptions",
            "in": "query",
            "description": "The pickup location types for which locations should be filtered. By default all location types are returned (PG = Retail points and parcel lockers). This can be used to filter on only parcel lockers (PA) or specifically exclude parcel lockers from the response (PG_EX).",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/locationsDeliveryOption"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Locations nearest to the address provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/locationsResponseMultiple"
                },
                "example": {
                  "GetLocationsResult": {
                    "ResponseLocation": [
                      {
                        "Address": {
                          "City": "City6",
                          "Countrycode": "Countrycode2",
                          "HouseNr": 136,
                          "HouseNrExt": "HouseNrExt4",
                          "Remark": "Remark8"
                        },
                        "DeliveryOptions": {
                          "string": [
                            "string6",
                            "string7"
                          ]
                        },
                        "Distance": 244,
                        "Latitude": 103.5,
                        "LocationCode": 102
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidRequest"
                },
                "example": {
                  "Date": "2024-06-11T12:38:45.413Z",
                  "Error": {
                    "ErrorCode": "3000",
                    "ErrorDescription": "Request format is invalid"
                  },
                  "RequestId": "09fd61fe-0099-4349-b71d-dce5c2472be9"
                }
              }
            }
          },
          "401": {
            "description": "Invalid apikey",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                },
                "example": {
                  "message": "Failed to resolve API Key variable 'request.header.apikey'",
                  "http_status_code": 401
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowedOnlyGetPost"
                },
                "example": {
                  "message": "Only GET & POST requests allowed",
                  "http_status_code": 405
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                },
                "example": {
                  "message": "Too many requests. Rate limit exceeded!",
                  "http_status_code": 429
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                },
                "example": {
                  "fault": {
                    "faultstring": "Unexpected token in object literal",
                    "detail": {
                      "errorcode": "Validation Fault"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/shipment/v2_1/locations/nearest/geocode": {
      "get": {
        "tags": [
          "Locations"
        ],
        "summary": "Returns pickup locations nearest to the provided coordinates.",
        "description": "Request example:\n```\ncurl -X GET \"https://api-sandbox.postnl.nl/shipment/v2_1/locations/nearest/geocode?Latitude=52.2864669620795&Longitude=4.68239055845954&CountryCode=NL&DeliveryDate=24-12-2022&OpeningTime=09%3A00%3A00\" \\\n -H \"Accept: application/json\" \\\n -H \"apikey: APIKEY-HERE\" \\\n```\n",
        "operationId": "GetPickupLocationsByCoordinates",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "Latitude",
            "in": "query",
            "description": "The latitude of the location",
            "required": true,
            "schema": {
              "type": "number",
              "example": 52.2864669620795
            }
          },
          {
            "name": "Longitude",
            "in": "query",
            "description": "The longitude of the location",
            "required": true,
            "schema": {
              "type": "number",
              "example": 4.68239055845954
            }
          },
          {
            "name": "CountryCode",
            "in": "query",
            "required": true,
            "description": "The coutry for which the coordinates are provided",
            "schema": {
              "type": "string",
              "example": "NL",
              "enum": [
                "NL",
                "BE"
              ]
            }
          },
          {
            "name": "DeliveryDate",
            "in": "query",
            "description": "The date of the earliest delivery date. Format:  dd-MM-yyyy. Note: this date cannot be in the past, otherwise an error is returned.",
            "schema": {
              "pattern": "^[0-3]\\d-[0-1]\\d-[1-2]\\d{3}$",
              "type": "string",
              "example": "24-12-2022"
            }
          },
          {
            "name": "OpeningTime",
            "in": "query",
            "description": "Opening time filter. Format: hh:mm:ss. This field will be used to filter out locations that are closed at the time provided.",
            "schema": {
              "pattern": "^[0-2]\\d:[0-5]\\d:[0-5]\\d$",
              "type": "string",
              "example": "09:00:00"
            }
          },
          {
            "name": "DeliveryOptions",
            "in": "query",
            "description": "The pickup location types for which locations should be filtered. By default all location types are returned (PG = Retail points and parcel lockers). This can be used to filter on only parcel lockers (PA) or specifically exclude parcel lockers from the response (PG_EX).",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/locationsDeliveryOption"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Locations nearest to the coordinates provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/locationsResponseMultiple"
                },
                "example": {
                  "GetLocationsResult": {
                    "ResponseLocation": [
                      {
                        "Address": {
                          "City": "City6",
                          "Countrycode": "Countrycode2",
                          "HouseNr": 136,
                          "HouseNrExt": "HouseNrExt4",
                          "Remark": "Remark8"
                        },
                        "DeliveryOptions": {
                          "string": [
                            "string6",
                            "string7"
                          ]
                        },
                        "Distance": 244,
                        "Latitude": 103.5,
                        "LocationCode": 102
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidRequest"
                },
                "example": {
                  "Date": "2024-06-11T12:38:45.413Z",
                  "Error": {
                    "ErrorCode": "3000",
                    "ErrorDescription": "Request format is invalid"
                  },
                  "RequestId": "09fd61fe-0099-4349-b71d-dce5c2472be9"
                }
              }
            }
          },
          "401": {
            "description": "Invalid apikey",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                },
                "example": {
                  "message": "Failed to resolve API Key variable 'request.header.apikey'",
                  "http_status_code": 401
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowedOnlyGetPost"
                },
                "example": {
                  "message": "Only GET & POST requests allowed",
                  "http_status_code": 405
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                },
                "example": {
                  "message": "Too many requests. Rate limit exceeded!",
                  "http_status_code": 429
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                },
                "example": {
                  "fault": {
                    "faultstring": "Unexpected token in object literal",
                    "detail": {
                      "errorcode": "Validation Fault"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/shipment/v2_1/locations/area": {
      "get": {
        "tags": [
          "Locations"
        ],
        "summary": "Returns pickup locations within a provided area.",
        "description": "Request example:\n```\ncurl -X GET \"https://api-sandbox.postnl.nl/shipment/v2_1/locations/area?LatitudeNorth=52.156439&LongitudeWest=5.015643&LatitudeSouth=52.017473&LongitudeEast=5.065254&CountryCode=NL&DeliveryDate=24-12-2023&OpeningTime=09%3A00%3A00\" \\\n -H \"Accept: application/json\" \\\n -H \"apikey: APIKEY-HERE\" \\\n```\n",
        "operationId": "GetPickupLocationsWithinArea",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "LatitudeNorth",
            "in": "query",
            "description": "The northmost coordinates of the area",
            "required": true,
            "schema": {
              "type": "number",
              "example": 52.156439
            }
          },
          {
            "name": "LongitudeWest",
            "in": "query",
            "description": "The westmost coordinates of the area",
            "required": true,
            "schema": {
              "type": "number",
              "example": 5.015643
            }
          },
          {
            "name": "LatitudeSouth",
            "in": "query",
            "description": "The southmost coordinates of the area",
            "required": true,
            "schema": {
              "type": "number",
              "example": 52.017473
            }
          },
          {
            "name": "LongitudeEast",
            "in": "query",
            "description": "The eastmost coordinates of the area",
            "required": true,
            "schema": {
              "type": "number",
              "example": 5.065254
            }
          },
          {
            "name": "CountryCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "NL",
              "enum": [
                "NL",
                "BE"
              ]
            }
          },
          {
            "name": "DeliveryDate",
            "in": "query",
            "description": "The date of the earliest delivery date. Format:  dd-MM-yyyy. Note: this date cannot be in the past, otherwise an error is returned.",
            "schema": {
              "pattern": "^[0-3]\\d-[0-1]\\d-[1-2]\\d{3}$",
              "type": "string",
              "example": "24-12-2023"
            }
          },
          {
            "name": "OpeningTime",
            "in": "query",
            "description": "Opening time filter. Format: hh:mm:ss. This field will be used to filter out locations that are closed at the time provided.",
            "schema": {
              "pattern": "^[0-2]\\d:[0-5]\\d:[0-5]\\d$",
              "type": "string",
              "example": "09:00:00"
            }
          },
          {
            "name": "DeliveryOptions",
            "in": "query",
            "description": "The pickup location types for which locations should be filtered. By default all location types are returned (PG = Retail points and parcel lockers). This can be used to filter on only parcel lockers (PA) or specifically exclude parcel lockers from the response (PG_EX).",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/locationsDeliveryOption"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Locations nearest to the area provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/locationsResponseMultiple"
                },
                "example": {
                  "GetLocationsResult": {
                    "ResponseLocation": [
                      {
                        "Address": {
                          "City": "City6",
                          "Countrycode": "Countrycode2",
                          "HouseNr": 136,
                          "HouseNrExt": "HouseNrExt4",
                          "Remark": "Remark8"
                        },
                        "DeliveryOptions": {
                          "string": [
                            "string6",
                            "string7"
                          ]
                        },
                        "Distance": 244,
                        "Latitude": 103.5,
                        "LocationCode": 102
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidRequest"
                },
                "example": {
                  "Date": "2024-06-11T12:38:45.413Z",
                  "Error": {
                    "ErrorCode": "3000",
                    "ErrorDescription": "Request format is invalid"
                  },
                  "RequestId": "09fd61fe-0099-4349-b71d-dce5c2472be9"
                }
              }
            }
          },
          "401": {
            "description": "Invalid apikey",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                },
                "example": {
                  "message": "Failed to resolve API Key variable 'request.header.apikey'",
                  "http_status_code": 401
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowedOnlyGetPost"
                },
                "example": {
                  "message": "Only GET & POST requests allowed",
                  "http_status_code": 405
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                },
                "example": {
                  "message": "Too many requests. Rate limit exceeded!",
                  "http_status_code": 429
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                },
                "example": {
                  "fault": {
                    "faultstring": "Unexpected token in object literal",
                    "detail": {
                      "errorcode": "Validation Fault"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/shipment/v2_1/locations/lookup": {
      "get": {
        "tags": [
          "Locations"
        ],
        "summary": "Returns a specific pickup location",
        "description": "Request example:\n```\ncurl -X GET \"https://api-sandbox.postnl.nl/shipment/v2_1/locations/lookup?LocationCode=216877\" \\\n -H \"Accept: application/json\" \\\n -H \"apikey: APIKEY-HERE\" \n```\n",
        "operationId": "GetPickupLocation",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "LocationCode",
            "in": "query",
            "description": "LocationCode information",
            "required": true,
            "schema": {
              "type": "string",
              "example": "216877"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Location information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/locationResponseSingle"
                },
                "example": {
                  "GetLocationsResult": {
                    "ResponseLocation": {
                      "Address": {
                        "City": "City6",
                        "Countrycode": "Countrycode2",
                        "HouseNr": 136,
                        "HouseNrExt": "HouseNrExt4",
                        "Remark": "Remark8"
                      },
                      "DeliveryOptions": {
                        "string": [
                          "string6",
                          "string7"
                        ]
                      },
                      "Distance": 244,
                      "Latitude": 103.5,
                      "LocationCode": 102
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidRequest"
                },
                "example": {
                  "Date": "2024-06-11T12:38:45.413Z",
                  "Error": {
                    "ErrorCode": "3000",
                    "ErrorDescription": "Request format is invalid"
                  },
                  "RequestId": "09fd61fe-0099-4349-b71d-dce5c2472be9"
                }
              }
            }
          },
          "401": {
            "description": "Invalid apikey",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                },
                "example": {
                  "message": "Failed to resolve API Key variable 'request.header.apikey'",
                  "http_status_code": 401
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowedOnlyGetPost"
                },
                "example": {
                  "message": "Only GET & POST requests allowed",
                  "http_status_code": 405
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                },
                "example": {
                  "message": "Too many requests. Rate limit exceeded!",
                  "http_status_code": 429
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                },
                "example": {
                  "fault": {
                    "faultstring": "Unexpected token in object literal",
                    "detail": {
                      "errorcode": "Validation Fault"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/shipment/checkout/v1/postalcodecheck": {
      "get": {
        "tags": [
          "Postalcode check"
        ],
        "summary": "Checkout postalcode check",
        "description": "Please note that this API is not available on the sandbox environment.\n\nRequest example:\n```\ncurl -X GET \"https://api.postnl.nl/shipment/checkout/v1/postalcodecheck?postalcode=3571ZZ&amp;housenumber=74&amp;housenumberaddition=bis\" \\\n -H \"Accept: application/json\" \\\n -H \"apikey: APIKEY-HERE\" \n```\n",
        "operationId": "CheckoutPostalcodeCheck",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "postalcode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "3571ZZ",
              "minLength": 6,
              "maxLength": 6
            }
          },
          {
            "name": "housenumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "74",
              "minLength": 1,
              "maxLength": 5
            }
          },
          {
            "name": "housenumberaddition",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "bis",
              "maxLength": 6
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/postalcodeCheckResponse"
                },
                "examples": {
                  "Single address found": {
                    "$ref": "#/components/examples/cpcSuccessSingleAddress"
                  },
                  "Multiple addresses found": {
                    "$ref": "#/components/examples/cpcSuccessMultipleAddresses"
                  },
                  "No address found": {
                    "$ref": "#/components/examples/cpcSuccessNoAddress"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/postalcodeCheckResponseInvalid"
                },
                "example": {
                  "errors": [
                    {
                      "status": "400",
                      "title": "Bad request",
                      "detail": "Input field 'housenumber' must be a number"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Invalid apikey",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                },
                "example": {
                  "message": "Failed to resolve API Key variable 'request.header.apikey'",
                  "http_status_code": 401
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowedOnlyGetPost"
                },
                "example": {
                  "message": "Only GET & POST requests allowed",
                  "http_status_code": 405
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                },
                "example": {
                  "message": "Too many requests. Rate limit exceeded!",
                  "http_status_code": 429
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                },
                "example": {
                  "fault": {
                    "faultstring": "Unexpected token in object literal",
                    "detail": {
                      "errorcode": "Validation Fault"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/shipment/v2_1/calculate/timeframes": {
      "get": {
        "tags": [
          "Timeframes"
        ],
        "summary": "Retrieve expected delivery timeframes",
        "description": "Request example:\n```\ncurl -X GET \"https://api-sandbox.postnl.nl/shipment/v2_1/calculate/timeframes?AllowSundaySorting=false&StartDate=30-06-2022&EndDate=02-07-2022&CountryCode=NL&PostalCode=2132WT&HouseNumber=42&HouseNrExt=A&City=Hoofddorp&Street=Siriusdreef&Options=Daytime%2CEvening\" \\\n -H \"Accept: application/json\" \\\n -H \"apikey: APIKEY-HERE\" \\\n```\n",
        "operationId": "RetrieveDeliveryTimeframes",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "AllowSundaySorting",
            "in": "query",
            "description": "Whether or not the requesting party allows for Sunday sorting (which leads to delivery on Monday).",
            "required": true,
            "schema": {
              "type": "boolean",
              "example": false
            }
          },
          {
            "name": "StartDate",
            "in": "query",
            "description": "Date of the beginning of the timeframe. Format: dd-MM-yyyy",
            "required": true,
            "schema": {
              "pattern": "^([0-3]\\d-[0-1]\\d-[1-2]\\d{3})$",
              "type": "string",
              "example": "30-06-2022"
            }
          },
          {
            "name": "EndDate",
            "in": "query",
            "description": "Date of the enddate of the timeframe. Format:dd-MM-yyyy. Enddate may not be before StartDate.",
            "required": true,
            "schema": {
              "pattern": "^([0-3]\\d-[0-1]\\d-[1-2]\\d{3})$",
              "type": "string",
              "example": "02-07-2022"
            }
          },
          {
            "name": "CountryCode",
            "in": "query",
            "description": "The ISO2 country code of the delivery address",
            "required": true,
            "schema": {
              "type": "string",
              "example": "NL",
              "enum": [
                "NL",
                "BE"
              ]
            }
          },
          {
            "name": "PostalCode",
            "in": "query",
            "description": "Zipcode of the delivery address",
            "required": true,
            "schema": {
              "pattern": "^[0-9]{4}([A-Z]{2})?$",
              "type": "string",
              "example": "2132WT"
            }
          },
          {
            "name": "HouseNumber",
            "in": "query",
            "description": "The house number of the delivery address",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 42
            }
          },
          {
            "name": "HouseNrExt",
            "in": "query",
            "description": "House number extension of the delivery address",
            "schema": {
              "type": "string",
              "example": "A"
            }
          },
          {
            "name": "City",
            "in": "query",
            "description": "City of the delivery address",
            "schema": {
              "type": "string",
              "example": "Hoofddorp"
            }
          },
          {
            "name": "Street",
            "in": "query",
            "description": "The street name of the delivery address",
            "schema": {
              "type": "string",
              "example": "Siriusdreef"
            }
          },
          {
            "name": "Options",
            "in": "query",
            "description": "The delivery options for which expected timeframes should be calculated. At least one delivery option must be specified. Multiple values should be comma-separated.",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/timeframeOptions"
              },
              "example": [
                "Daytime",
                "Evening",
                "Sunday"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Calculated delivery timeframes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/timeframeResponse"
                },
                "example": {
                  "Timeframes": {
                    "Timeframe": [
                      {
                        "Date": "02-07-2022",
                        "Timeframes": {
                          "TimeframeTimeframe": [
                            {
                              "From": "12:30:00",
                              "Options": {
                                "string": "Daytime"
                              },
                              "To": "14:30:00",
                              "Sustainability": {
                                "Code": "02",
                                "Description": "Sustainable option"
                              }
                            }
                          ]
                        }
                      }
                    ]
[...]
